@model QuanLyGiaoVu.Data.Lophoc

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<h4>Lớp học</h4>

<hr />
<div class="row bg-light rounded-2 p-2">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Malophoc" />
            <div class="form-group">
                <label asp-for="Magiaovien" class="control-label">
                    Giáo viên
                </label>
                <select asp-for="Magiaovien" class="form-control" asp-items="ViewBag.Magiaovien"></select>
                <span asp-validation-for="Magiaovien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tenlophoc" class="control-label">
                    Tên lớp học
                </label>
                <input asp-for="Tenlophoc" class="form-control" />
                <span asp-validation-for="Tenlophoc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ngaybatdau" class="control-label">
                    Ngày bắt đầu
                </label>
                <input asp-for="Ngaybatdau" class="form-control" type="date" />
                <span asp-validation-for="Ngaybatdau" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ngayketthuc" class="control-label">
                    Ngày kết thúc
                </label>
                <input asp-for="Ngayketthuc" class="form-control" type="date" />
                <span asp-validation-for="Ngayketthuc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lichhoc" class="control-label">
                    Lịch học
                </label>
                <input asp-for="Lichhoc" class="form-control" />
                <span asp-validation-for="Lichhoc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-primary mt-2" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary my-1">Quay lại</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
