@model QuanLyGiaoVu.Data.Danhgiahocvien

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}
<h4>Đánh giá học viên</h4>
<hr />
<div class="row bg-light rounded-2 p-2">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Stthv" />
            <div class="form-group">
                <label asp-for="Magiaovien" class="control-label">Giáo viên</label>
                <select asp-for="Magiaovien" class="form-control" asp-items="ViewBag.Magiaovien"></select>
                <span asp-validation-for="Magiaovien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Malophoc" class="control-label">Lớp học</label>
                <select asp-for="Malophoc" class="form-control" asp-items="ViewBag.Malophoc"></select>
                <span asp-validation-for="Malophoc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mahocvien" class="control-label">Học viên</label>
                <select asp-for="Mahocvien" class="form-control" asp-items="ViewBag.Mahocvien"></select>
                <span asp-validation-for="Mahocvien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nhanxet" class="control-label">Nhận xét</label>
                <input asp-for="Nhanxet" class="form-control" />
                <span asp-validation-for="Nhanxet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diemso" class="control-label">Điểm số</label>
                <input asp-for="Diemso" class="form-control" />
                <span asp-validation-for="Diemso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-primary my-2" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary my-2">Quay lại</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
